* {
    margin: 0;
    border: none;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    background-color: #f9dede;
}

.top-menu {
    background: #a84848;
    width: 100%;
    position: fixed;
    height: 40px;
}

#logo {
    width: 20%;
    height: 100%;
    float: left;
}

#logo img {
   width: 75%;
   height: 75%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
}

#search-box {
    width: 35%;
    height: 100%;
    float: left;
}

#search-box input {
    width: 89%;
    height: 75%;
    margin-top: 5px;
    float: left;
}

#search-box a img:hover{
    background: #fcc9c9;
    transition: 1s;
}
#search-box img {
    width: 10%;
    height: 75%;
    margin-top: 5px;
    float: right;
}

#user-box {
    width: 30%;
    float: right;
}

#user-box a img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: left;
    border-radius:50%;
}

#user-box a p {
    line-height: 40px;
    float: left;
    color: black;
    font-weight: bolder;
    margin-left: 2%;
}

.container {
    padding-top:40px;
}

.left-menu {
    background: #fcc9c9;
    margin-top: 10px;
    width: 14%;
    height: 100%;
    float: left;
    position: fixed;
}

.left-menu ul li {
    width: 70%;
    height: 40px;
    border-bottom: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    list-style-type: none;
}

.left-menu ul li:hover {
    background: #a84848;
    color: white;
}

.left-menu ul li a p {
    line-height: 40px;
    color: black;
    font-weight: bolder;
    float: left;
    margin-left: 2%;
}

.left-menu ul li a img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: left;
    border-radius:50%;
}

.content {
    width: 35%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 15%;
}

.new-post {
    background: white;
    border: 1px solid #ffffff;
}

#select-new {
    border-bottom: 1px;
    width: auto;
    height: 30px;
}

#select-new p {
    width: 30%;
    background: #a84848;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    
}

#content-new img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius:50%;
    margin-left: 2%;
    margin-top: 10px;
}

#post-new {
    float: right;
    width: 85%;
    height: 60px;
}

#btn-img {
    width: 30%;
    height: 30px;
    float: left;
}

#btn-fell {
    width: 30%;
    height: 30px;
    left: 30%;
}

#btn-post {
    width: 30%;
    height: 30px;
    float: right;
    background-color: #4CAF50;
}

.post {
    background: white;
    border: 1px ;
    margin-top: 10px;
    padding-bottom: 10px;
    height: auto;
}

#user-post {
    padding-top: 10px;
    margin-left: 2%;
    height: 50px;
}
#user-post img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius:50%;
}

#user-name {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bolder;
    color: #4286f4;
}

#user-name:hover {
    text-decoration: underline;
}

#time {
    float: left;
    margin-left: 2%;
    margin-top: 5px;
}

#post-img {
    margin-top: 5px;
    width: 100%;
}

#content-post {
    padding-right: 2%;
    padding-left: 2%; 
    text-indent: 20px;
    text-align: justify;
}

#bix-post {
    height: 30px;
    padding-right: 2%;
    padding-left: 2%;
}

#bix-post a {
    text-decoration: none;
    color: black;
}

#like-box {
    float: left;
    height: 30px;
    width: 30%;
}

#like-box:hover {
    background: #a84848;
    transition: 1s;
}

#like-box img {
    margin-top: 5px;
    margin-left: 30%;
}

#like-box p {
    line-height: 30px;
    margin-left: 2%;
    text-decoration: none;
}

#comt-box {
    float: left;
    height: 30px;
    width: 30%;
    margin-left: 5%;
}

#comt-box:hover {
    background: #a84848;
    transition: 1s;
}

#comt-box img {
    margin-top: 5px;
    margin-left: 20%;
}

#comt-box p {
    line-height: 30px;
    margin-left: 2%;
}

#share-box {
    float: right;
    height: 30px;
    width: 30%;
}

#share-box:hover {
    background: #a84848;
    transition: 1s;
}

#share-box img {
    margin-top: 5px;
    margin-left: 20%;
}

#share-box p {
    line-height: 30px;
    margin-left: 2%;
    text-decoration: none;
}

#bix-post a img {
    line-height: 30px;
    float: left;
    width: 20px;
    height: 20px;
}

.messenger {
    width: 30%;
    height: 100%;
    margin-top: 10px;
    position: fixed;
    right: 20%;
}

#title-chat {
    width: 90%;
    height: 30px;
    background: #a84848;
    text-align: center;
    line-height: 30px;
    font-weight: bolder;
    margin-left: 5%;
}

#close-messenger {
    height: 20px;
    width: 20px;
    background: #a84848;
    float: right;
    margin-top: 10px;
    margin-right: 1%;
}

#user-chat {
    width: 90%;
    margin-left: 5%;
    height: 40px;
    background: #fcc9c9;
    font-weight: bolder;
    line-height: 40px;
}

#user-chat img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: left;
    border-radius:50%;
    margin-left: 2%;
}

#chat-content {
    width: 90%;
    margin-left: 5%;
    background: #fcc9c9;
    height: 400px;
}

#ajax {
    margin-left: 1%;
    margin-right: 1%;
    background: white;
    height: 340px;
}

#chat-content textarea {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    width: 88%;
    float: left;
}

#chat-content button {
    width: 9%;
    line-height: 50px;
    margin-top: 1%;
    height: 50px;
    background: #4CAF50;
}

.frend-list {
    background: #fcc9c9;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0%;
    margin-top: 10px;
}
.frend-list h3 {
    text-align: center;
    background: #a84848;
    height: 30px;
    line-height: 30px;
}

.frend-list ul li {
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
    list-style-type: none;
    display: block;
}

.frend-list ul li:hover{
    background: #a84848;
}
.frend-list ul li img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: left;
    border-radius:50%;
}

.frend-list ul li p {
    line-height: 40px;
    float: left;
    margin-left:2%;
}